{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <p class="text-center ">
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </p>
    </form>
{% endblock %}
