{% extends 'base.html' %}
{% load static %}

{% block body %}

 <div class="about">
   <div class="about-img">
    <img src="{% static 'images/f1.png' %}" alt="no image"/>
   </div>
   <div class="about-detail">
       <h2>
        ABOUT RENDAPP
       </h2>
       <p>
        Rendapp helps u find service providers and artisans in your Area very easily.
        Our system is built to give you the service providers in your area based on your
        search input or locations on your profile. As a service provider or artisan rendapp helpsyou connect to customers easily therby increasing yout profit.
       </p>
   </div>
</div>

{% endblock body %}