:root {
    --darkgray: #3819e7;
    --brightred: #f9423d;
    --white: #fff;
    --lightred: #f9433dcc;
  }
  
* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background-color:rgb(176, 181, 248);
    margin: o;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: fixed;
    }

    .navbar {
        width: 90%;
      }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        height: 90vh;
        transition: all 0.5s ease-out;
        justify-content: center;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--white);
        color: var(--darkgray);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-togle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-togle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .welcome {
        width: 100%;
        height: 90vh;
        display: inline-block;
        justify-content: space-evenly;
        color: black;
        margin: 0 20px 20px 5px;
    }
    
    .welcome .welcome-image {
        width: 100%;
        height: 50%;
        align-items: left;
        margin-left: 0;
        margin-top: 100px;
    }
    .welcome .welcome-image img{
        object-fit: cover;
        object-position: center;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }
    .welcome .welcome-speech {
        display: inline-block;
        justify-content: space-between;
        width: 100%;
        height: 50%;
    }
    
    .welcome .welcome-speech .welcome-intro{
        width: 100%;
        height: 50%;
        margin-top: 150px;
        display: inline-block;
        justify-content: space-between;
        padding: 0;
    }

    
    section .reason {
        width: 100%;
        height: 70vh;
        display: inline-block;
        justify-content: space-evenly;
        margin: 50px 5px;
    }
        
    section {
        margin:20vh 50px ;
    } 
    section .reason img{
        height: 50vh;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    section .reason .text{
        display: inline-block;
        justify-content: space-between;
        align-items: left;
        width: 100%;
        padding: 10px;
        height: 20vh;
    }
        
    section .reason .text h2{
        margin: 20px 5px;
        font-size: 30px;
    }

    .build {
        align-items: center;
        text-align: center;
        font-size: 1.2em;
        margin: 20vh 0;
        font-weight: bolder;
      }

    .category {
        margin-top: 60vh;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .category .box {
        margin-bottom: 20vh;
        font-weight: bold;
    }

    .spread {
        display: flexbox;
        align-items: left;
        justify-content: space-around;
        margin: auto;
    }

    .spread a {
        background-color: #3819e7;
        color: #ffffff;
        border-radius: 10px;
        -webkit-transition: all 0.3s;
        padding: 6px 15px;
        transition: all 0.3s;
        border: 1px solid #3819e7;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }

    .shop_section .box .img-box {
        width: 100%;
        padding: 0 20px;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shop_section .box .img-box img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: inherit;
        object-position: center;
    }
    
    .shop_section .box {
        padding: 10px 15px;
        margin-top: 10px;
        overflow: hidden;
        height: 50vh;
    }

    #dsp {
        height: 100px;
    }

    .search {
        margin: 0 20px 50px 20px;
        display: flex;
    }

    .search .search-image {
        padding : 5px;
    
    }

    .search .search-image img {
        height: 100%;
        width: 100%;
        border-radius: 6px;
        border: 1px solid black;
        object-fit: contain;
        object-position: center;
    }
        
    .search .search-details {
        height: 100%;
        padding : 30px 2px;
        margin: 30px 20px;
        border: 50px;
        width: 50%;
        border-radius: 6px;
    }

    .search .search-details span{ 
        text-align: left;
        justify-content: left;
        font-size: 15px;
    }

    .search .search-details ul{ 
        display: inline-block;
        align-items: left;
        justify-content: space-around;
        margin: 30px 0;
    }

    .search .search-details ul li { 
        list-style: none;
        margin: 5px;
    }

    .search .search-details ul li a{ 
        background-color: #3819e7;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 20px;
    }
    
    .about{
        display: inline-block;
    }
    
    footer {
        width: 105%;
        background-color: var(--darkgray);
        height: auto;
        color: white;
        display: block;
        padding: 50px 20px;
        margin: 0;
    }

    footer a{
        text-decoration: none;
        color: white;
    }

    footer ul li{
        margin-top: 10px;
    }


    footer .f_about {
        width: 100%;
        margin-right: 0;
        padding: 10px;
        text-align: left;
    }

    footer .f_service {
        width: 100%;
        padding: 10px;
    }

    footer .f_contact {
        width: 100%;
        padding: 10px;
    }

    footer .f_contact ul li{
        list-style: none;
    }

        
    .detail {
        border-radius: 10px;
        height: 100vh;
        display: block;
        margin:40px 50px ;
    }
    
    .detail .image {
        height: 50vh;
        width: 100%;
        padding:  10px ;
    }
    
    .detail .image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-position: center;
    }
    
    .detail .box {
        height: 45vh;
        width: 100%;
        padding: 20px;
    }
    
    .detail .box a{
        display: inline-block;
        background-color: #3819e7;
        color: #ffffff;
        border-radius: 10px;
        -webkit-transition: all 0.3s;
        padding: 0px 10px;
        transition: all 0.3s;
        border: 1px solid #3819e7;
        text-decoration: none;
        margin-top: 10px;
    }
    
    .detail .box P{
        color: black;
        font-weight: 550;
        font-size: 20px;
    }
    
    .detail .box span{
        color: black;
        font-weight: 900;
        font-size: 22px;
    }

    
    .related .related_box {
        margin-bottom: 15vh;
        height: 25vh;
        margin-left: 40px;
        margin-right: 40px;
    }

    .related .related_box img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px;
        object-fit: contain;
        object-position: center;
    }
        
    .form-group {
        margin: 0 40px 0 40px;
    }

    .why-us {
        align-items: center;
        margin: 100px 40px 40px 5px;
    }
    
    
    .why-us .main{
        display: inline;
        margin: 30px 10px 10px 5px;
        justify-content: space-between;
    }
    
    .why-us .main .sub{
        display: inline-block;
        padding: 10px;
        margin: 2px 20px 5px 20px;
    }
    
    .why-us .main .sub img{
        max-width: 100%;
        max-height: 80px;
    }

}
     
   
