{% extends 'base.html' %}
{% load static %}
{% block title %} RENDAPP{% endblock title %}

{% block body %}

 <!--WELCOME-->
        <div class="welcome">
            <div class="welcome-speech">
                <div class="welcome-intro">
                    <h1>FIND LOCAL SERVICE PROVIDERS AND ARTISANS</h1>
                    <p>Rendapp helps you find and connect with local service providers and artisans in your area simply and in lesser time.</p>
                    <a href="{% url 'account_signup' %}">
                        <h3>GET STARTED</h3>
                    </a>
               </div>
            </div>
            <div class="welcome-image">
                <img src="{% static 'images/im1.jpg' %}" alt="no image"/>
            </div>
        </div>
        <!--END WELCOME-->


<!--SOME SERVICES-->
<div class="category">
    <h1>SERVICES</h1>
    <div class="container">
        <div class="row">
            {% for service in categories %}
            <div class="col-xs-6 col-md-4">
                <div class="box">
                    <img src="{{ service.category_image.url }}" alt="">
                    <div class="service-box">
                        <a href="{% url 'service:category' category=service.category %}">
                            {{ service.category }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="spread">
        <a href="{% url 'service:categorylist'  %}">
            View All SERVICE
        </a>'
        <a href="{% url 'service:search' %}">
            SEARCH A SERVICE
        </a>

    </div>
</div>
<!--END SOME SERVICE-->

 <!--WHY US SECTION-->
        
    <div class="container">
        
        <section>
            <h1 class="text-center">WHY US</h1>
            <div class="reason">
                <img src="{% static 'images/callum-hill-oamw52SCGi0-unsplash.jpg' %}">
                <div class="text">
                    <h2>ORDER SERVICES</h2>
                    <p>
                        Order and get services done and completed from the comfort of where ever you are.
                    </p>
                </div>
            </div>
            <div class="reason">
                <img src="{% static 'images/istockphoto-1180187740-612x612.jpg' %}">
                <div class="text">
                    <h2>CONNECTION</h2>
                    <p>
                        Tap into the pool of service providers and artisans we bring to you.
                    </p>
                </div>
            </div>
            <div class="reason">
                
                <img src="{% static 'images/kenny-eliason-60krlMMeWxU-unsplash.jpg' %}">
                <div class="text">
                    <h2>VARIETY OF PROVIDERS</h2>
                    <p>
                        You are not limited to home service providers alone but to all types of service providers
                    </p>
                </div>
            </div>
            <div class="reason">
                <img src="{% static 'images/blake-wisz-q3o_8MteFM0-unsplash.jpg' %}">
                <div class="text">
                    <h2>ACCOUNTABILITY</h2>
                    <p>
                        Our application is built to enable both the provider and the user both get what they want through a 
                        <b>pay-before-service-activation</b> for users and <b>recieve-payment-after-service-completion</b> for providers system
                    </p> 
                </div>
            </div>
            <div class="reason">
                <img src="{% static 'images/maarten-van-den-heuvel-KSQgzzn3dW0-unsplash.jpg' %}">
                <div class="text">
                    <h2>STREAMLINED SEARCH</h2>
                    <p>
                        Your search is streamlined to get the providers that are closest and readily available locally to you.
                    </p> 
                </div>
            </div>
        </section>
    </div>
        <!--END WHY US-->

        
<div class="build">
    WHY WAIT? GET CONNECTED FROM THE COMFORT OF WHEREEVER YOU ARE TODAY.
    <br><br>
    <a href="{% url 'account_signup' %}">
        SIGN UP
    </a>
</div>

<!--HOW IT WORKS-->
<div class="how-it-works">
    <center><h1>HOW IT WORKS</h1></center>
    <br>
    <div class="main">
        <!--REASON 1-->
        <div class="sub">
                <img src="{% static 'images/f1.png' %}" alt="no image"/>
                <p>
                    SIGN UP AND COMPLETE YOUR PROFILE WITH THE NECESSARY DETAILS. DONT FORGET TO READ AND ACCEPT OUR TERMS AND CONDITIONS FIRST
                </p>
        </div>
        <!--REASON 2-->
        <div class="sub">
                <img src="{% static 'images/f2.png' %}" alt="no image"/>
                <p>
                    CREATE A SERVICE AND COMPLETE YOUR SERVICE ADMIN PROFILE. A ONE TIME PROCESS THAT ENABLES YOU TO HAVE AS MANY SERVICE PAGE AS YOU WANT.
                    YOUR REQUEST WILL BE REVIEWED AND SERVICE ACTIVATED.
                </p>
        </div>
        <!--REASON 3-->
        <div class="sub">
                <img src="{% static 'images/f3.png' %}" alt="no image"/>
                <p>
                    PROCEED TO THE SEARCH PAGE TO SEARCH ANY TYPE OF SERVICE YOU WANT. YOU CAN ORDER OR VIEW TO KNOW MORE ABOUT EACH SERVICE.
                    PROVIDERS WILL RECEIVE NOTIFICATIONS ABOUT A NEW SERVICE ORDER BASED OFF THE CHIOCE IN THEIR PROFILE
                </p>
        </div>
        <!--REASON 4-->
        <div class="sub">
                <img src="{% static 'images/f4.png' %}" alt="no image"/>
                <p>
                     PAY THE SERVICE CHARGE TO ACTIVATE SERVICE WHICH WILL LEAD TO A SERVICE ACTIVE NOTIFICATION BEING SENT TO PROVIDERS.
                     BOTH PROVIDER AND USERS SHOUKD THEN CLICK SERVICE COMPLETED IN ORDER TO BOTH RECIEVE A SERVICE CLOSED NOTIFICATION AFTER WHICH THE SERVICE CHARGE WILL BE PAID THE PROVIDER WITHIN 24 HOURS.
                </p>
        </div>
        <!--REASON 5-->
        <div class="sub">
                <img src="{% static 'images/f4.png' %}" alt="no image"/>
                <p>
                    DONT FORGET TO RATE WHOM YOU ARE SATISFIED WITH TO HELP THEM APPEAR MORE FREQUENTLY IN SERVICE SEARCH.
                </p>
        </div>
    </div>
</div>
<!--HOW IT WORKS-->


       
<div class="build">
    SIGN IN TODAY AND GET THAT BROKEN TAP  FIXED.
    <br><br>
    <a href="{% url 'account_signup' %}">
        SIGN UP
    </a>
</div>


{% endblock body %}