{% extends 'base.html' %}
{% load static %}
{% block title %} RENDAPP{% endblock title %}

{% block body %}

 <!--WELCOME-->
        <div class="welcome">
            <div class="welcome-speech">
                <div class="welcome-intro">
                    <h1>FIND LOCAL SERVICE PROVIDERS AND ARTISANS</h1>
                    <p>Rendapp helps you find and connect with local service providers and artisans in your area simply and in lesser time.</p>
                    <a href="{% url 'account_signup' %}">
                        <h3>GET STARTED</h3>
                    </a>
               </div>
            </div>
            <div class="welcome-image">
                <img src="{% static 'images/im1.jpg' %}" alt="no image"/>
            </div>
        </div>
        <!--END WELCOME-->


<!--SOME SERVICES-->
<div class="category">
    <h1>SERVICES</h1>
    <div class="container">
        <div class="row">
            {% for service in categories %}
            <div class="col-xs-6 col-md-4">
                <div class="box">
                    <img src="{{ service.category_image.url }}" alt="">
                    <div class="service-box">
                        <a href="{% url 'service:category' category=service.category %}">
                            {{ service.category }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="spread">
        <a href="{% url 'service:categorylist'  %}">
            View All SERVICE
        </a>'
        <a href="{% url 'service:search' %}">
            SEARCH A SERVICE
        </a>

    </div>
</div>
<!--END SOME SERVICE-->

 <!--WHY US SECTION-->
        
    <div class="container">
        
        <section>
            <h1 class="text-center">WHY US</h1>
            <div class="reason">
                <img src="{% static 'images/CV_Builder_2x.png' %}">
                <div class="text">
                    <h2>EASY TO USE</h2>
                    <p>
                        Our builder is well structured to give you ease while building your resume in lesser time.
                    </p>
                </div>
            </div>
            <div class="reason">
                <img src="{% static 'images/Export_PDF_2x.png' %}">
                <div class="text">
                    <h2>CONVERT TO PDF</h2>
                    <p>
                        Convert and download your resume in pdf format to aplly for jobs.
                    </p>
                </div>
            </div>
            <div class="reason">
                
                <img src="{% static 'images/Resources_2x.png' %}">
                <div class="text">
                    <h2>MULTIPLE RESUME</h2>
                    <p>
                        Create multiple instances of the same resume for multiple roles and interview.
                    </p>
                </div>
            </div>
            <div class="reason">
                <img src="{% static 'images/share-2x.png' %}">
                <div class="text">
                    <h2>SHARE </h2>
                    <p>
                        Generate resume link that you can share via email or through social media to land that tech role.
                    </p> 
                </div>
            </div>
        </section>
    </div>
        <!--END WHY US-->

        
<div class="build">
    WHY WAIT? GET CONNECTED FROM THE COMFORT OF WHEREEVER YOU ARE.
    <br><br>
    <a href="{% url 'account_signup' %}">
        SIGN UP
    </a>
</div>

{% endblock body %}